.wr {
	background: transparent;
}



.footerMenu {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 8px 40px;
}

.footerMenu li:nth-child(2) {
	margin-left: auto;
}

.footerMenu a {
	text-decoration: none;
}

.activeLink {
	color: orange;
}